
/*==================================
    Customizer CSS
====================================*/ 

.customize-control-lable {
    margin: 10px 0;
    text-decoration: underline;

}
#customize-controls h3.customize-control-lable {
    font-size: 16px;
}
#sub-accordion-section-header_image .description.customize-section-description {
    display: none;
}

{
    margin-left: 25px;
}